{% extends 'base.html'%}
{% block body %}
{% if status %}
<script>
    alert('{{status}}');
</script>
{% endif %}
<div class="row p-5">
    <div class="col-md-6 mt-5 mx-auto pt-5 p-3" style="box-shadow:0px 0px 5px gray;">
        {% if p %}
        <h1 class="text-warning text-center">Update Product</h1>
        {% else %}
        <h1 class="text-success text-center">ADD Product</h1>
        {% endif %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Product Name</label>
                        <input type="text" class="form-control" name="pname" value="{{p.name}}">
                    </div>
                    <div class="col-md-6">
                        <label>Product Image</label>
                        <input type="file" class="form-control" name="pimg">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>Market Price</label>
                        <input type="number" class="form-control" name="mprice" value="{{p.m_price}}" required>
                    </div>
                    <div class="col-md-6">
                        <label>Offered Price</label>
                        <input type="number" class="form-control" name="oprice" value="{{p.s_price}}" required>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <select name="categories" class="form-control">
                    {% for i in c %}
                    <option value="{{i.id}}">{{i.c_name}}</option>
                    {% endfor  %}
                </select>
            </div> 
            <div class="form-group">
                <textarea name="desc" class="form-control" rows="5">{{p.description}}</textarea>
            </div>
            <div class="from-group">
            {% if p %}
                <input type="submit" name="update" class="btn btn-warning" value="Update Product">
            {% else %}
                <input type="submit" name="add" class="btn btn-primary" value="Add Product">
            {% endif %}
            </div>
        </form>
    </div>
</div>

{% endblock %}