<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MY PROJECT</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <script src="{% static 'jquery.js'%}"></script>
    <script src="{% static 'js/bootstrap.js'%}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 px-0">
                <nav class="navbar navbar-dark bg-primary navbar-expand fixed-top">
                    <a href="" class="navbar-brand">MySiteLogo</a>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <form action="{% url 'con'%}" class="form-inline">
                                <input type="search" name="search_item" class="form-control" placeholder="Search Item Here..">
                                <input type="submit" value="Search" class="btn btn-light">
                            </form>
                        </li>
                        
                        <li class="nav-item">
                            <a href="{% url 'about'%}" class="nav-link">Add Product</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'con'%}" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle" data-toggle="dropdown">Categories</a>
                            <div class="dropdown-menu">
                                {% for i in c %}
                                    <a href="{% url 'con'%}?id={{i.id}}" class="dropdown-item">{{i.c_name}}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a href="{% url 'dashboard'%}" class="nav-link">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'uslogout'%}" class="nav-link">Logout {{user.first_name}}</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'signup'%}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'home'%}" class="nav-link">Sign In</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
        {% block body %}
        {% endblock %}
        <div class="row bg-primary">
            <div class="col-md-4 text-light text-center">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis fugit neque quibusdam eligendi minus molestiae voluptates praesentium, obcaecati optio. A ducimus ipsam blanditiis iste! Architecto pariatur tempora in fugiat sapiente.</p>
            </div>
            <div class="col-md-4 text-light text-center">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis fugit neque quibusdam eligendi minus molestiae voluptates praesentium, obcaecati optio. A ducimus ipsam blanditiis iste! Architecto pariatur tempora in fugiat sapiente.</p>
            </div>
            <div class="col-md-4 text-light text-center">
                <h1>Lorem Ipsum</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis fugit neque quibusdam eligendi minus molestiae voluptates praesentium, obcaecati optio. A ducimus ipsam blanditiis iste! Architecto pariatur tempora in fugiat sapiente.</p>
            </div>
        </div>
    </div>
    
</body>
</html>