{% extends 'base.html'%}
{% load staticfiles %}
{% block body %}
<div class="row mt-5 pt-5">
{% if user.is_authenticated %}
    <div class="col-md-12">
        <h1 class="text-center text-primary">All Products({{total}})</h1>
    </div>
    {% for i in products %}
        <div class="col-md-4 p-5 text-center">
            <div style="box-shadow:0px 0px 10px gray;" class="p-2">
                <img src="/media/{{i.image}}" height="200" width="100%">
                <h2>{{i.id}}. {{i.name}}</h2>
                <p> 
                    <del class="text-danger">&#8377;{{i.m_price}}</del>
                    <strong class="text-success">&#8377;{{i.s_price}}</strong>
                </p>
                <p><small>Cat ID: {{i.cat.id}}</small> | <small>Cat Name:{{i.cat.c_name}}</small></p>
                <p>{{i.description}}</p>
                <a href="{% url 'con'%}?del={{i.id}}" class="btn btn-danger">Delete</a>
                <a href="{% url 'about'%}?upd={{i.id}}" class="btn btn-warning">Update</a>
            </div>
        </div>
    {% endfor %}
{% else %}
<h1 class="alert alert-danger">YOU NEED TO LOGIN FIRST</h1>
{% endif %}
</div>
{% endblock %}