{% extends "base.html"%}
{% block body %}
<div class="row">
    <div class="col-md-8 mx-auto my-5 py-5 text-center">
        <img src="/media/{{profile.profile_pic}}" class="rounded-circle mb-5" height="200" width="200">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>User ID</th>
                    <td>{{user.id}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th>First Name</th>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <th>Last Name</th>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th>Contact Number</th>
                    <td>{{profile.contact}}</td>
                </tr>
                <tr>
                    <th>Member Since:</th>
                    <td>{{user.date_joined}}</td>
                </tr>
                <tr>
                    <th>Last Login:</th>
                    <td>{{user.last_login}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}