{% extends 'base.html'%}
{% load staticfiles %}
{% block body %}
<div class="row pt-5 mt-5">
    <div class="col-md-5 mx-auto p-4 my-5" style="box-shadow:0px 0px 10px gray;">
        <h4 class="text-center">Login Here</h4>
        {% if st %}
            <p class="alert alert-danger">{{st}}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="">Username</label>
                <input type="text" placeholder="Enter Username" class="form-control" name="username">
            </div>
            <div class="form-group">
                <label for="">Password</label>
                <input type="password" placeholder="Enter Password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <input type="checkbox" name="remember">
                <label>Remember Me</label>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Login">
            </div>
        </form>
    </div>
</div>
{% endblock %}