{% extends 'base.html'%}
{% block body %}

<div class="row mt-5">
<div class="col-md-8 bg-primary my-5 p-3 mx-auto shadow shadow-lg text-light">
        <h2 class="text-center">
        Sign Up Here</h2>
        <form action="" method="post" enctype="multipart/form-data">
            {% if status %}
                <script>
                    alert("{{status}}");
                </script>
            {% endif %}
            <h4 id="rs"></h4>
            {% csrf_token %}
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="first">
                    </div>
                    <div class="col-md-6">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="last">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Username</label>
                        <input type="text" class="form-control" name="un" id="username" onkeyup="checkUser()">
                    </div>
                    <div class="col-md-6">
                        <label for="">Email</label>
                        <input type="text" class="form-control" name="em">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Password</label>
                        <input type="text" class="form-control" name="pas">
                    </div>
                    <div class="col-md-6">
                        <label for="">Confirm Password</label>
                        <input type="text" class="form-control" name="cpas">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="">Contact</label>
                        <input type="number" class="form-control" name="con">
                    </div>
                    <div class="col-md-6">
                        <label for="">Profile Pic</label>
                        <input type="file" class="form-control" name="pic">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" id="sign" value="Sign Up">
            </div>
        </form>
    </div>
</div>
<script>
    function checkUser(){
        let username = $('#username').val();
        $.ajax({
            url:'{% url "checkUserExist" %}',
            type:'get',
            data:{usern:username},
            success:function(data){
               if(data==1){
                    $('#rs').html("User already exists!!").addClass("alert alert-danger");
                    $('#sign').attr('disabled','disabled');
                }else{
                    $('#rs').html(" ").removeClass("alert alert-danger");
                    $('#sign').removeAttr('disabled');
                }
            }
        })
    }
</script>
{% endblock %}